<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<link href="/static/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/static/bootstrap.min.js"></script>
<script src="/static/jquery.min.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<title>DuluthGPT</title>
        <link rel="icon" type="image/x-icon" href="/static/bot.jpg" width="64" height="64">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Cache-Control" content="max-age=31104000, public">

        <!-- Google tag (gtag.js) for analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QCGG19SQ0L"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-QCGG19SQ0L');
        </script>
	</head>
	
	<body>
        <div width="100%" height="100%">
            <div width="100%" height="100%">
                <div width="100%" height="100%">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="/static/bot.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>DuluthGPT</span>
									<p>Ask me anything!</p>
								</div>
                                <div class="ml-auto">
                                    <a href="https://forms.gle/5jPFUqymYYzsegvSA" target="_blank">
                                        <img src="/static/info.png" class="icon" alt="Info Icon" width="32" height="32">
                                    </a>
                                </div>
                                <div class="ml-auto">
                                    <a href="https://forms.gle/r974MwaMEkPdmULv5" target="_blank">
                                        <img src="/static/error.png" class="icon" alt="Error Icon" width="32" height="32">
                                    </a>
                                </div>
							</div>
						</div>
						<div id="messageChatbox" class="card-body msg_card_body">
							<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="/static/bot.jpg" class="rounded-circle user_img_msg"></div><div class="msg_container">Hello! I'm DuluthGPT, a chatbot designed to help you with any high school questions you may have.<br>Here are some questions you can ask me!<br>• "Who teaches AP Computer Science A?"<br>• "What are some STEM-related clubs I can join?"<br>• "When is the next Digital Learning Day?"<br>• "What are some scholarships I may be eligible for?"<span class="msg_time">00:00</span></div></div>
							
						</div>
						<div class="card-footer">
							<form id="messageArea" class="input-group">
                                <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function() {
				$("#messageArea").on("submit", function(event) {
                    document.getElementById("send").disabled = true;
					const date = new Date();
					const hour = date.getHours() % 12;
                    if (hour == 0) {
                        hour = 12;
                    }
					const minute = (date.getMinutes()<10?'0':'') + date.getMinutes();
					const str_time = hour+":"+minute;
					var rawText = $("#text").val();

					var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_container_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="/static/user.png" class="rounded-circle user_img_msg"></div></div>';

					$("#text").val("");
					$("#messageChatbox").append(userHtml);

                    // var loadingHtml = '<div id="loading" class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="/static/bot.jpg" class="rounded-circle user_img_msg"></div><div class="msg_container"><img src="/static/loading.gif" alt="Loading..." height=25 width=100><span class="msg_time">' + str_time + '</span></div></div>';
                    var loadingHtml = '<div id="loading" class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="/static/bot.jpg" class="rounded-circle user_img_msg"></div><div class="msg_container">Loading...<span class="msg_time">' + str_time + '</span></div></div>';
                    $("#messageChatbox").append($.parseHTML(loadingHtml));

                    $("#messageChatbox").scrollTop($("#messageChatbox")[0].scrollHeight);

					$.ajax({
						data: {
							msg: rawText,	
						},
						type: "POST",
						url: "/get",
					}).done(function(data) {
                        let loadingElem =
                            document.getElementById("loading");
                        loadingElem.remove();
						var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="/static/bot.jpg" class="rounded-circle user_img_msg"></div><div class="msg_container">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
						$("#messageChatbox").append($.parseHTML(botHtml));
                        $("#messageChatbox").scrollTop($("#messageChatbox")[0].scrollHeight);
                        console.log("finished outputting message");
                        document.getElementById("send").disabled = false;
					});
					event.preventDefault();
				});
			});
		</script>
        
    </body>
</html> 